In [1]:
!pip install pymysql
!pip install sqlalchemy

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

WARNING: You are using pip version 21.0.1; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\users\dlwhd\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: sqlalchemy in c:\users\dlwhd\appdata\local\programs\python\python38\lib\site-packages (1.3.23)

WARNING: You are using pip version 21.0.1; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\users\dlwhd\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [19]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

pymysql.install_as_MySQLdb()
import MySQLdb

# 파일에서 비밀번호 읽어오기
id_pw=pd.read_csv('./password.csv')
mysql_id=id_pw["id"][0]
mysql_pw=id_pw["pw"][0]


#item csv 파일 불러오기
df=pd.read_csv('./resource/timeline_item_data.csv')

engine = create_engine("mysql+mysqldb://"+mysql_id+":"+mysql_pw+"@52.78.93.239:52879/test", encoding='utf-8')
conn = engine.connect()

df.to_sql(name=table, con=engine, if_exists='append')


#conn.close()

In [16]:
id_pw["id"][0]
id_pw["pw"][0]

'1q2w3e4r!'

In [20]:
pd.read_csv('./resource/timeline_item_data.csv')

       match_id  participantId  itemId  time_stamp
0    5173018625              1       1       47142
1    5173018625              4       1       52063
2    5173018625              7       3       61316
3    5173018625              3       2       71523
4    5173018625              2       1       76149
..          ...            ...     ...         ...
118  5173018625             10       2     1374165
119  5173018625              6       2     1382672
120  5173018625              7       3     1382772
121  5173018625              8       1     1383102
122  5173018625              9       3     1389345

[123 rows x 4 columns]